<button (click)="giveScore($event)">submit</button>

<div class="container">
  <div class="row">
    <div class="card card-block">
      <h4 class="card-title">{{results.string}}</h4>
      <p class="card-text">anger: {{results.anger}}</p>
      <p class="card-text">disgust: {{results.disgust}}</p>
      <p class="card-text">fear: {{results.fear}}</p>
      <p class="card-text">happiness: {{results.happiness}}</p>
      <p class="card-text">neutral: {{results.neutral}}</p>
      <p class="card-text">sadness: {{results.sadness}}</p>
      <p class="card-text">surprise: {{results.surprise}}</p>
    </div>
  </div>
</div>
