<div class="result-block" [ngStyle]="boxStyle">
  <div class="card">
    <h4 class="card-title">results:</h4>
    <div class="chart"><div [ngStyle]="bar.anger"></div></div>
    <p class="card-text">anger: {{results.anger}}</p>
    <div class="chart"><div [ngStyle]="bar.disgust"></div></div>
    <p class="card-text">disgust: {{results.disgust}}</p>
    <div class="chart"><div [ngStyle]="bar.fear"></div></div>
    <p class="card-text">fear: {{results.fear}}</p>
    <div class="chart"><div [ngStyle]="bar.happiness"></div></div>
    <p class="card-text">happiness: {{results.happiness}}</p>
    <div class="chart"><div [ngStyle]="bar.neutral"></div></div>
    <p class="card-text">neutral: {{results.neutral}}</p>
    <div class="chart"><div [ngStyle]="bar.sadness"></div></div>
    <p class="card-text">sadness: {{results.sadness}}</p>
    <div class="chart"><div [ngStyle]="bar.surprise"></div></div>
    <p class="card-text">surprise: {{results.surprise}}</p>
  </div>
</div>