.chart{
	border: 1px solid #333;
	background: #333;
}

.chart div{
	background: #60b8ff;
	height: 10px;
}

.cart-text{
	text-align: center;
}

.result-block{
	max-width: 400px;
	display: inline-block;
	transition: 0.4s ease-in-out width;
	overflow: hidden;
	margin: 0 1%;
}

.brick{
	height: 400px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin: 0px;
}

.brick p{
	margin: 0 0 12px;
}