.chart{
	border: 1px solid #333;
	background: #333;
}

.chart div{
	background: #60b8ff;
	height: 10px;
}

.cart-text{
	text-align: center;
}

.brick{
	height: 400px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin: 0px;
}

.brick p{
	margin: 0 0 12px;
}

img.loading{
	width: 100%;
	margin-top: 16%;
}